{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- HEADER -->
    <header class="masthead">
        <div class="container-fluid d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="text-white mx-auto my-0"><strong>Selamat Datang!</strong></h1>
                <h2 class="text-white mx-auto mt-4 mb-5">SinarPerak adalah sebuah platform<br>untuk menggalang dana.</h2>
                <a href="#about" class="btn btn-light js-scroll-trigger round"><strong>Tentang Kami</strong><img align="right" src="{% static 'img/panah.png' %}" style="width: 17%"></a>
            </div>
        </div>
    </header>

    <!-- BAGAIMANA KAMI BEKERJA? -->
    <section id="about" class="about-section text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="mb-4"><strong>Bagaimana kami bekerja?</strong></h2>
                    <div class="hover08 column">
                        <div class="row">
                            <div class="col-sm-4 textoverimg">
                                <figure><img src="{% static 'img/1.jpg' %}"></figure>
                                <div class="centered"><strong>MENGUMPULKAN DANA</strong></div>
                            </div>
                            <div class="col-sm-4 textoverimg">
                                <figure><img src="{% static 'img/2.jpg' %}"></figure>
                                <div class="centered"><strong>BEKERJA SAMA</strong></div>
                            </div>
                            <div class="col-sm-4 textoverimg">
                                <figure><img src="{% static 'img/3.jpg' %}"></figure>
                                <div class="centered"><strong>BERBAGI</strong></div>
                            </div>
                        </div>
                    </div>
                    <h2 class="mb-4" style="padding-top:4rem;"><strong>Masih penasaran dengan kami?<br><a style="color: #F56462;" href="{% url 'testimoni' %}">Lihat apa kata mereka!</a></strong></h2>
                    <hr style="margin-top: 12vh;">
                    <h4 class="mb-4 siap">Siap memberi bantuan?</h4>
                    <a href="{% url 'programs:list_program' %}" class="btn btn-dark round" style="padding: 17px 85px; margin-bottom: 7rem;"><strong>Donasi</strong></a>
                </div>
            </div>
        </div>
    </section>

    <script>
    $(document).on('click', 'a[href^="#"]', function(event){
    event.preventDefault();
    $('body,html').animate({scrollTop: $($.attr(this,'href')).offset().top}, 800);
    });


    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-98020765-1', 'auto');
    ga('send', 'pageview');
    </script>
{% endblock %}