{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- HEADER -->
    <header class="masthead container-fluid h-50">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="mx-auto text-center">
                <h1 class="text-white mx-auto my-0"><strong>Donasi</strong></h1>
            </div>
        </div>
    </header>

    <!-- DONASI -->
    <div class="container-fluid">
        <div class="row content">
			{% if programs %}
            {% for program in programs %}
            <div class="col-sm-4">
                <div class="roundedrec">
                    <img class="donasiimg" src="/{{ program.photo }}" style="width:100%">
                    <div class="insiderec">
                        <p class="judul"> {{ program.status }}</p>
                        <h4 class="w3-left-align" style="color: #F56462">{{ program.name }}</h4>
                        <p class="w3-left-align isi">{{ program.desc }}</p>
                        <p class="icon">
							<img src="{% static 'img/flag.png' %}">
							Target Rp {{ program.target }}
                        </p>
                        <p class="icon" style="padding-bottom: 20px;">
							<img src="{% static 'img/cal.png' %}">
							Sisa {{ program.remDay }} hari
                        </p>
                        {% if user.is_authenticated %}
                            <div id="loggedin">
                                <div class="center">
                                    <a href="{% url 'formulir_donasi' program=program.pk %}" class="btn btn-dark round" style="margin-bottom: 15px;padding: 17px 50px;"><strong>DONASI SEKARANG</strong></a>
                                    <br>
                                    <a class="isi kembali" style="text-decoration: underline;" href="{% url 'programs:list_donatur' program=program.pk %}">List Donatur</a>
                                </div>
                            </div>
                        {% else %}
                            <div id= "notloggedin">
                                <div class="center">
                                    <a class="isi kembali" style="text-decoration: underline;" href="{% url 'login' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Login terlebih dahulu<br>untuk melakukan donasi!</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
			{% endfor %}
            {% else %}
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <h4 class="w3-left-align" style="color: #F56462"><strong>Tidak ada program.</strong></h4>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}