{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- FORMULIR DONASI -->
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <h1 class="text-center mx-auto my-0" style="padding-top: 10px; padding-bottom: 2rem; font-size: 45px; min-height: 50%;"><strong>Donasi Terkumpul</strong></h1>
                        <h4 class="text-center" style="color: #F56462; margin-top: -15px; margin-bottom: 3rem;"><strong>{{ nama_program }}</strong></h4>
                        <div class="main-div">
                            <div class="container mx-auto d-block">
                                {% if donasi_terkumpul.donatur.all.count == 0 %}
                                    <h3>Belum ada donasi terkumpul.</h3>
                                {% else %}
                                    <table class="table table-hover table-striped" align="center" style="text-align: center">
                                        <thead>
                                            <tr>
                                                <th scope="col">Nama Donatur</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Jumlah Donasi</th>
                                            </tr>
                                        </thead>
                                    {% for data in donasi_terkumpul.donatur.all %}
                                        {% if data == donasi_terkumpul.donatur.last %}
                                            <tr>
                                                <td scope="row">{{ data.nama }}</td>
                                                <td scope="row">{{ data.email }}</td>
                                                <td scope="row">{{ data.jmldonasi }}</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td scope="row">{{ data.nama }}</td>
                                                <td scope="row">{{ data.email }}</td>
                                                <td scope="row">{{ data.jmldonasi }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </table>
                                {% endif %}
                            </div>
                        </div>
                        <br>
                        <div class="kembali center">
                            <a class="isi kembali" style="text-decoration: underline;" href="{% url 'programs:list_program' %}">Kembali ke Halaman Sebelumnya</a>
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}