{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- HEADER -->
    <header class="masthead container-fluid h-50">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="mx-auto text-center">
                <h1 class="text-white mx-auto my-0"><strong>Testimoni</strong></h1>
            </div>
        </div>
    </header>

    <!-- TESTIMONI -->
    <div class="container-fluid">
        <div class="row content">
            <div class="col-lg-8 mx-auto">
                <div class="roundedrec">
                    <div class="insiderec">
                        <p class="judul">Tentang Kami</p>
                        <p class="text-justify isi">Terima Kasih sudah mempercayai SinarPerak! SinarPerak adalah sebuah platform untuk menggalang dana. 
                            Tim kami yang terdiri dari empat orang mahasiswa/i yang sedang menempuh studi sarjana di Universitas Indonesia - Fakultas Ilmu Komputer.
                            Kami bekerja dengan tiga misi, yaitu: mengumpulkan dana, berkerja sama, dan berbagi. Sebelumnya,
                            website ini dibuat untuk menyelesaikan Tugas 1 & 2 mata kuliah Perancangan dan Pemrograman Website 2018.<br>
                            <br>
                            Tinggalkan testimoni kamu untuk SinarPerak yang lebih baik!<br>
                            <br>
                            Salam hangat,
                            <h4 class="w3-left-align" style="margin-top:-2%; color: #F56462">SinarPerak</h4>
                        </p>
                    </div>
                </div>
                <div class="roundedrec">
                    <div class="insiderec">
                        <p class="judul">Kata Mereka</p>
                        <table id="talk" class="table" style="font-size: 15px;">
                            <thead>
                                <tr class="table text-center">
                                    <!-- <th scope="col" class="align-middle">No</th> -->
                                    <th scope="col" class="align-middle">Nama</th>
                                    <th scope="col" class="align-middle" >Testimoni</th>
                                    <th scope="col" class="align-middle">Waktu Posting</th>
                                </tr>
                            </thead>
                        {% if testimonis %}
                            <tbody>
                                {% for data in testimonis %}
                                <tr>
                                    <td scope="row" style="text-align: center"> {{data.nama}} </td>
                                    <td scope="row" style="text-align: center"> {{data.testimoni}} </td>
                                    <td scope="row" style="text-align: center"> {{data.created_at}} </td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                        {%else%}
                            <tbody>
                                <h3 id="talk2">Belum ada testimoni.</h3>
                            </tbody>
                        </table>
                        {%endif%}
                    </div>
                </div>
				
                {% if user.is_authenticated %}
                    <div class="roundedrec">
                        <div class="insiderec">
                            <p class="judul">Kirim Testimoni</p>
						    <form class="form-group" method="POST" id="post-form" style="color: #F56462;">
								{% csrf_token %} 
								{{ form }}     
								<div class="center">
									<input class="btn-dark round" id="test_button" type="submit" value="KIRIM">
								</div>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <div class="roundedrec">
                        <div class="insiderec">
                            <p class="judul">Kirim Testimoni</p>
                            <a class="isi kembali" style="text-decoration: underline;" href="{% url 'login' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Login terlebih dahulu untuk mengirim testimoni!</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
	



<script>
// Submit post on submit
$('#post-form').on('submit', function(event){
    event.preventDefault();
    console.log("form submitted!")  // sanity check
    create_post();
});
	
function create_post() {
    console.log("create post is working!") // sanity check
    $.ajax({
        url : "post/", // the endpoint
        type : "POST", // http method
		async: true,
        data : { 
			'csrfmiddlewaretoken':"{{ csrf_token }}",
			the_post : $('#post-text').val() }, // data sent with the post request

        // handle a successful response
       success : function(json) {
			console.log($('#post-text').val())
			$('#post-text').val(''); // remove the value from the input -->
            console.log(json.message); // log the returned json to the console
			console.log("success"); // another sanity check
            $("#talk2").html("");
			$("#talk").append("<td scope='row' style='text-align: center'>" + json.nama + "</td>" +
                              "<td scope='row' style='text-align: center'>" + json.message + "</td>" +
                              "<td scope='row' style='text-align: center'>" + json.time + "</td>");
            console.log("masuk sini");
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
			$('#post-text').val('');
            console.log("Yah Error"); // provide a bit more info about the error to the console
        } 
    });
};
</script> 
{% endblock %}