{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- PENDAFTARAN DONATUR -->
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <h1 class="text-center mx-auto my-0" style="padding-top: 10px; padding-bottom: 2rem; font-size: 45px; min-height: 50%;"><strong>Pendaftaran Donatur</strong></h1>
                        <form method="POST" class="w3-left-align isi" style="color: #F56462;">
                            {% csrf_token %}
                            {{ form }}
                            {{ email }}
                            <div class="center">
                                <input class="btn-dark round" type="submit" value="DAFTAR">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}