{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- LOGIN -->
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <div class="row">
                            <div class="col-sm-4">
                                <br><br>
                                <div class="center">
                                    <img style="width: 40%;" src="{% static 'img/google.png' %}" alt="google logo">
                                </div>
                                <br><a class="text-center" style="color: #F56462;" href="{% url 'social:begin' 'google-oauth2' %}"><h4><i class="fa fa-sign-in" aria-hidden="true"></i><strong> Login dengan Google</strong></h4></a>
                                <br>
                            </div>
                            <div class="col-sm-8 vl">
                                <h1 class="text-center mx-auto my-0" style="padding-top: 10px; padding-bottom: 2rem; font-size: 45px;"><strong>Login</strong></h1>
                                <p style="padding-left: 2.5rem;">Rasakan fitur-fitur khusus yang hanya dapat diakses dengan akun Google kamu!<br><br>
                                    Keuntungan login dengan Google: <br>
                                    1. Melakukan proses transaksi donasi dengan mudah.<br>
                                    2. Mengakses list donatur program apapun.<br>
                                    3. Melihat daftar donasi apa saja yang pernah dilakukan.<br>
                                    4. Meninggalkan testimoni mengenai platform kami.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .vl {
            border-left: 1px solid #eeeeee;
        }
    </style>
{% endblock %}