{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- PROFIL -->
    <div class="container-fluid">
        <div class="row content">
            {% if user.is_authenticated %}
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <h1 class="text-center mx-auto my-0" style="padding-top: 10px; padding-bottom: 2rem; font-size: 45px;"><strong>Profil</strong></h1>
                        <h4 style="color: #F56462;"><strong>Halo, {{ user.username }}!</strong></h4>
                        <h4>Siap memberi bantuan? <a href="{% url 'programs:list_program' %}">Donasi sekarang!</a></h4>
                        <a class="isi kembali" style="text-decoration: underline;" href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
                        <hr style="margin-bottom: 16px;">
                        <p><b>First Name</b> : {{ user.first_name }} </p>
                        <p><b>Last Name</b> : {{ user.last_name }} </p>
                        <p><b>Username</b> : {{ user.username }} </p>
                        <p><b>Email</b> : {{ user.email }} </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
						{% if donasi_filter.count == 0 %}
                            <p class="judul">Anda belum pernah berdonasi</p>
                        {% else %}
                        <p class="judul">Daftar Donasi yang Telah Anda Sumbangkan</p>
                        <table id="demo" class="table table-hover table-striped" style="font-size: 15px;">
                            <thead>
                                <tr class="table text-center">
                                    <!-- <th scope="col" class="align-middle">No</th>
                                    <th scope="col" class="align-middle">Tanggal</th> -->
                                    <th scope="col" class="align-middle">Nama Program</th>
                                    <th scope="col" class="align-middle">Jumlah Donasi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in donasi_filter %}                                   
                                    {% if d.email == email2 %} 
                                    <tr>                                     
                                        <td scope="row"  align="middle">{{ d.namaProgram }}</td>                            
                                        <td scope="row"  align="middle">{{ d.jmldonasi }}</td>
                                    </tr>                                        
                                    {% else %}
                                    {{ continue }}
                                    {% endif %}                                
                                {% endfor %}                                
                            </tbody>    
                        </table>
                        <p class="judul" text-align="right">Total Donasi : {{ totalUang }}</p>
                        {% endif %}                        
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <h1 class="text-center mx-auto my-0" style="padding-top: 10px; padding-bottom: 2rem; font-size: 45px;"><strong>Profil</strong></h1>
                        <a class="isi kembali" style="text-decoration: underline;" href="{% url 'login' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Login terlebih dahulu untuk melihat profil!</a>
                        <br><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}