{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- FORMULIR DONASI -->
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <h1 class="text-center mx-auto my-0" style="color: #F56462; padding-top: 10px; padding-bottom: 2rem; font-size: 45px; min-height: 50%;">Formulir Donasi<br> 
                            berhasil ditambahkan!</h1>
                        <div class="kembali center">
                            <a class="isi kembali" style="text-decoration: underline;" href="{% url 'home' %}">Kembali ke Halaman Awal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}