{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- FORMULIR DONASI -->
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <h1 class="text-center mx-auto my-0" style="padding-top: 10px; padding-bottom: 2rem; font-size: 45px; min-height: 50%;"><strong>Formulir Donasi</strong></h1>
                        <h4 class="text-center" style="color: #F56462; margin-top: -15px"><strong>{{ nama_program }}</strong></h4>
                        <div style="padding-bottom: 6px;">
                            <text style="color: #F56462;">Nama: </text>{{ nama }}<br>
                        </div>
                        <text style="color: #F56462;">Email: </text>{{ email }}<br>
                        <form method="POST" class="w3-left-align isi" style="color: #F56462;">
                            {% csrf_token %}
                            {{ form }}
                            <div class="center">
                                <input class="btn-dark round" type="submit" value="DONASI">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}