{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>SinarPerak</title>
    <link rel="icon" href="{% static 'img/sinarperak.png' %}" type="image/gif">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/designkita.css' %}">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<body>
	<!-- NAVBAR -->
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand active" href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" style="width:100px;"><span class="sr-only">(current)</span></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  	<span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  	<ul class="navbar-nav mr-auto">
				<li class="nav-item">
			 		 <a class="nav-link" href="{% url 'programs:list_program' %}">DONASI</a>
				</li>
				<li class="nav-item">
			  		<a class="nav-link" href="{% url 'berita' %}">BERITA</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'testimoni' %}">TESTIMONI</a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<!-- <li class="nav-item">
					<a class="nav-link" href="{% url 'pendaftaran_donatur' %}">PENDAFTARAN</a>
				</li> -->
				{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'profil' %}">PROFIL</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login' %}">LOGIN</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</nav>

    {% block content %}
	{% endblock %}
	
	<!-- FOOTER -->
	<footer id="myFooter">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 text-center">
					<br>
                    <img src="{% static 'img/logo.png' %}" style="width:85%;">
                </div>
                <div class="col-sm-3" style="margin-left:30px; margin-right:30px;">
                    <h5>SinarPerak</h5>
                    <ul>
                        <li class="text-justify">Sebuah platform untuk menggalang dana. Website ini dibuat untuk menyelesaikan Tugas 1 & 2 mata kuliah Perancangan dan Pemrograman Website 2018.</li>
                    </ul>
				</div>
                <div class="col-md-auto">
                    <h5>Tugas Akhir</h5>
                    <ul>
						<li>Crowd Funding</li>
                        <li>Kelompok 5</li>
						<li>PPW C</li>
						<li><a href="https://gitlab.com/kelompok5-ppw-c/tugas-1.git">Link Gitlab</a></li>
                    </ul>
				</div>
				<div class="col-auto"></div>
                <div class="col-md-auto">
                    <h5>Developer</h5>
                    <ul>
                        <li>Aulia Rosyida (1706025346)</li>
                        <li>M Abdurrahman Hermanto (1706039925)</li>
						<li>Oktafia Sutanti (1706023486)</li>
						<li>Roshani Ayu Pranasti (1706026052)</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>