{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- HEADER -->
    <header class="masthead container-fluid h-50">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="mx-auto text-center">
                <h1 class="text-white mx-auto my-0"><strong>Berita</strong></h1>
            </div>
        </div>
    </header>

    <!-- BERITA -->
    <div class="container-fluid">
        <div class="row content">
            {% if beritas %}
            {% for berita in beritas %}
                <div class="col-sm-6">
                    <div class="roundedrec">
                        <div class="insiderec">
                            <p class="judul">{{ berita.sumber }}</p>
                            <h4 class="w3-left-align" style="color: #F56462"><strong>{{ berita.judul }}</strong></h4>
                            <img src="/{{ berita.gambar }}" style="width:100%">
                            <p class="icon" style="padding-top: 20px;">
                                <img src="{% static 'img/cal.png' %}">
                                {{ berita.tanggal_publish }}
                            </p>
                            <p class="text-justify isi" style="margin-top:-22px;">{{ berita.isi|linebreaks }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <div class="col-sm-12">
                    <div class="roundedrec">
                        <div class="insiderec">
                            <h4 class="w3-left-align" style="color: #F56462"><strong>Tidak ada berita.</strong></h4>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}